$primary-color: #5AC1AC;

.organizacao-container {
  height: 95vh;

  .section-icon {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .section-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .section-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .back-icon {
    background: $primary-color;
    color: #fff;
    border-radius: 50px;
    font-size: 60px !important; 
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .content {
    text-align: justify;
    font-size: 30px;
    line-height: 50px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  .button {
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 16px;
    box-shadow: none;

    &-next {
    }

    &-exit {
      color: $primary-color;
      background: #fff;
      border: 2px solid $primary-color;

      &:hover {
        background: #fff;
      }
    }
  }
}