span .MuiSlider-rail {
  height: 10px;
  background-color: #266659;
  opacity: 1;
}

span .MuiSlider-track {
  height: 10px;
}

span .MuiSlider-thumb {
  height: 25px;
  width: 25px;
  margin-top: -8px;
  background-color: #695f5f;
  border: 2px solid white;
}

#investir-slider {
  color: #266659;
}

#invest-slider-value {
  color: #266659;
}
