$primary-color: #5AC1AC;

.planilha-container {
  min-height: 98vh;

  .section-icon {
    height: 150px;
    display: flex;
    align-items: center;
  }

  .section-header {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .section-minhas-rendas {
    flex: 1;
    margin-bottom: 20px;
  }

  .section-meus-gastos {
    flex: 1;
  }

  .section-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .back-icon {
    background: $primary-color;
    color: #fff;
    border-radius: 50px;
    font-size: 60px !important; 
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .button {
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 16px;
    box-shadow: none;

    &-next {
    }

    &-exit {
      color: $primary-color;
      background: #fff;
      border: 2px solid $primary-color;

      &:hover {
        background: #fff;
      }
    }
  }

  #adicionar-gasto,
  #adicionar-renda {
    padding-left: 0;
  }

  .novo-gasto,
  .gasto,
  .nova-renda,
  .renda {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .botao-confirmar,
  .botao-editar {
    background: $primary-color;
    color: #fff;
    border-radius: 50px;
    padding: 6px;

    &-icon {
      font-size: 20px !important; 
    }

    &:hover {
      background: $primary-color;
    }
  }

  .tipo-label {
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    width: 100px;
  }

  .valor-label {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }

  .input-conteudo {
    width: 100%;
    margin-right: 20px;
  }
}